
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #817878;
    font-family: "DM Sans", "Arial", "sans-serif";
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.container{
    width: 314px;
    margin: 0 auto;
}
