

.hero {
    min-width: 314px;
    background-image: 
    linear-gradient(rgba(0,0,0,0.31), rgba(0,0,0,0.29)),
    url(./img.background/bg_s1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.container_hero{
    margin: 0 auto;
    width: 314px;
}

.btn_trevelling{
    color: rgba(255, 255, 255, 0.80);
    font-family: "DM Sans";
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    width: 315px;
    height: 59px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 107px;
    background: #DD2242;


}

.menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header_nav {
    margin-top: 30px;
    display: inline;
    padding: 10px;
}

.nav{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.nav_item{
    padding: 15px;
}


.menu_header_burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}
.container_hero_info {  
    margin: 30px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 58.152px;
    font-weight: 900;
    line-height: 1.5;
}

.title_here_count_item{
    max-width: 210px;
    align-items: center;
    height: 115px;
    border: 1px solid #000;
    margin: 32px;
    list-style-type: none;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    line-height: 0.4; 
    letter-spacing: 0.5px;
}

.title_here_count{
    margin-top: 89px;
}


.title_here_count_item_numders{
    width: 32.017px;
    height: 19px;
    margin: 4px;
    padding: 8px;
    color: #DD2242;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}
.title_here_count_item_text{
    color: #939393;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    font-feature-settings: 'liga' off, 'clig' off;
    letter-spacing: 0.5px;
}

.title_here_count_item_title{
    margin: 4px;
}

.h1_hero_title{
    margin: 10px;
    width: 314px;
    height: 126px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Roboto";
    font-size: 58.152px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
}
.bg_black{
    width: 314px;
    height: 472px;
    opacity: 0.6;
    background: #000;
}





.articles {
    margin: 0 auto;
    background-color: #0b1d30;
    color: #ffffff;
    padding: 50px 20px;
}

.travel-section-cards ul {
    padding: 0;
    margin: 0;
}

.travel-section-cards li {
    margin-top: 30px;
    margin-bottom: 100px ;
}


.travel-section-cards img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.travel-section-cards h2 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.travel-section-cards p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
    color: #cbd5e1;
    max-width: 500px;
}

.learn-more {
    width: 100%;
    padding: 16px 24px;
    background-color: #ff385c;
    color: #fff;
    border: none;
    border-radius:32px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #e62e50;
}

@media (max-width: 1920px) {  
    .travel-section-cards li {
        align-items: center;
        flex-direction: column;
    }а

    .travel-section-cards img {
        width: 100%;
        max-width: 1920px;
    }

    .travel-section-cards p {
        max-width: 100%;
    }
}




.explore_our_secrets h2{
    display: flex;
    width: 314px;
    height: 112px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #010A20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    line-height: 1.15;
}

.explore_our_secrets{
    height: 2000px;
    background-image: url(./img.background/eps_bg.jpg);
    background-repeat: no-repeat;
}

.count_title h2{
    display: flex;
    width: 314px;
    height: 52px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
}

.count_title p{
    color:#E0E0E0;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.5px;
}

.by_the_numbers_down{
    display: flex;
    width: 314px;
    height: 52px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.picture_explore_our_secrets_1{
    display: none;
}
.picture_explore_our_secrets_3{
    display: none;
}

.by_the_numbers_list_item h2{
    color: #DD2242;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
}

.by_the_numbers_list_item p{
    width: 314px;
    height: 70.229px;
    color:  #E0E0E0;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}




.map {
    height: 741px;
    background: #ffffff;
    position: relative;
    background-image: url(./img.background/map_bg_up.svg),
    url(./img.background/map_bg_down.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.conteiner_map{
    margin: 0 auto 30px auto;
    width: 314px;
}

.container_map_title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
}

.container_map_text{
    margin-top: 20px;
    color: #6F7787;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.5px;
}

.learn-more_btn{
    margin-top: 63px;
    display: flex;
    width: 314px;
    height: 73px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 122px;
    border: none;
    background: #DD2242;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}





.Vid5{
    height: 1451px;
    display: block;
    flex-direction: column;
    background-image: url(./img.background/hugo-matilla-EFuCATqfblI-unsplash\ 1\ \(1\).png);
    background-color: #010A20;
    background-repeat: no-repeat;
}

.container_video5{
    width: 314px;
    margin: 0 auto;
}


.video5{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.video5-title h2 {
    margin-bottom: 50px;
    color:#FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
}


.cotainer_video5_photo_main{
    margin: 20px auto;
}

.cotainer_video5 h3{
    margin: 5px;
    margin-top: 40px;
    color:  #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
}

.video_list_item p{
    margin: 4px;
    opacity: 0.7;
    text-align: center;
    height: 106.982px;
}

.cotainer_video5{
    margin: 31px;
    margin-bottom: 40px;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;

}

.video_list_item{
    margin: 20px;
    height: 192;
    border-radius: 10px;
}



.photo_section{
    width: 375px;
    margin: 0 auto;
    height: 752px;
    flex-shrink: 0;
    background: #FFF;

}

.conteiner_photos_gellary{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_gallery_main_title{
    width: fit-content;
    display: flex;
    width: 314px;
    height: 52px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #010A20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    line-height: 1.5;
}

.photo_gallery_title_info{
    margin: 30px;
    width: 314px;
    height: 160px;
    display: flex;
    justify-content: center;
    color: #6F7787;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.5px;
}

.conteiner_photos{
    margin: 12px;
    display: flex;
    justify-content: center; 
    align-items: center;
}





.conteiner2{
    width: 314px;
    margin: 0 auto;
}

.getting_there{
    height: 1000px;
    background: #DCE8F2;
}

.first h2{
    margin-top: 50px;
    color: #010A20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
}

.main_title_get_here{
    color: #010A20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15; 
}

.get-here-numbers{
    margin: 13px;
    color: #010A20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5; 
    color: rgba(21, 20, 57, 0.40);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.show_more_btn{
    color: var(--Main-Red, #DD2242);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.title_get_here{
    color: var(--Blue---Background, #010A20);
    text-align: center;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5; /
}






.conteiner_footer{
    width: 314px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer{
    padding: 155px 0 85px 0;
    background: #010A20;
    height: 659px;
}

.logo_footer{
    margin-bottom: 36px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer_about_item_icons{
    height: 30.987px;
    margin: 36px 0;
    display: flex;
    justify-content:center;
    gap: 48px;
}

.footer_img{
    display: block;
}

.footer_about{
    color:  #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36px;
    font-family: "DM Sans";
    font-size: 22.943px;
    font-weight: 700;
    line-height: 1.15; 
    letter-spacing: 0.637px;
}

.copyright{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 23.241px;
    font-weight: 700;
    line-height: 1.15; 
    letter-spacing: 0.6px;
}