.header>.container {
    display: flex;
    padding-top: 48px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #dec659;
    background: linear-gradient(90deg,
            rgba(222, 198, 89, 0.85) 0%,
            rgba(227, 207, 125, 0.52) 50%,
            rgba(99, 188, 212, 0.81) 100%);
}

.btn_trevelling {
    color: rgba(255, 255, 255, 0.8);
    font-family: "DM Sans";
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    width: 315px;
    height: 59px;
    padding: 10px;
    border: 0;
    border-radius: 107px;
    background: #dd2242;
}

.menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu_header_burger {
    display: none;
}

@media (min-width: 1920px) {
    .header>.container {
        width: 1860px;
        padding-top: 28px;
    }

    .menu_header {
        gap: 64px;
    }

    .header_nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu_header_burger {
        display: block;
        display: flex;
        gap: 62px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }

    .nav {
        gap: 40px;
    }

    .nav_item {
        width: 24px;
        height: 24px;
    }

    .menu_header_burger a {
        font-size: 18px;
    }
}



.hero {
    padding-top: 153px;
    padding-bottom: 40px;
    background-image: url("./img.background/bg_s1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.container_hero_info {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 58.152px;
    font-weight: 900;
    line-height: 1.5;
}

.title_here_count_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    color: #fff;
    font-family: "DM Sans";
    font-size: 16px;
    line-height: 0.4;
}

.title_here_count {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 30px 80px 35px 32px;
    margin-top: 89px;
    background: rgba(0, 0, 0, 0.6);
}

.title_here_count_item_numders {
    color: #dd2242;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
}

.title_here_count_item_text {
    color: #939393;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.h1_hero_title {
    color: #fff;
    font-family: "Roboto";
    font-size: 58.152px;
    font-weight: 900;
    line-height: 1.2;
}

.bg_black {
    width: 314px;
    height: 472px;
    background: rgba(0, 0, 0, 0.6);
}


@media (min-width: 1920px) {
    .hero {
        position: relative;
        padding-top: 266px;
        padding-bottom: 450px;
    }

    .h1_hero_title {
        width: 630px;
        font-size: 120px;
        font-weight: 900;
        line-height: 1.3;
    }

    .btn_trevelling {
        width: 271.141px;
        height: 82px;
        padding: 20px;
        font-size: 20px;
    }

    .hero-wraper {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: end;
    }

    .title_here_count {
        flex-direction: row;
        gap: 220px;
        height: 210px;
    }

    .hero-picture-link {
        width: 417px;
        height: 254px;
    }

    .title_here_count_item_numders {
        font-size: 16px;
        font-weight: 900;
    }

    .title_here_count_item_title {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.5;
    }

    .title_here_count_item_text {
        font-size: 18px;
        line-height: 1.5;
    }

    .hero-picture {
        max-width: 418px;
        height: 254px;
    }
}

@media (min-width: 1920px) {
    .hero {
        padding-top: 266px;
    }
}




.articles {
    padding: 30px 0;
    background-image: url("./img.background/bg_articles.png");
    background-color: #020C21;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: #ffffff;

}

.articles>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles_list_card:first-child {
    margin-bottom: 56px;
}

.travel-section-cards img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.travel-section-cards h2 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
}

.travel-section-cards p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
    color: #cbd5e1;
    max-width: 500px;
}

.learn-more {
    width: 100%;
    padding: 16px 24px;
    background-color: #dd2242;
    color: #fff;
    border: none;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #e62e50;
}

@media (min-width: 1920px) {
    .articles {
        padding: 207px 0 305px 0;
    }

    .articles>.container {
        width: 1278px;
    }

    .articles_list_card {
        display: flex;
        column-gap: 130px;
        align-items: center;
    }

    .articles_info_card {
        width: 480px;
        margin-left: 40px;
    }

    .articles_info_card h2 {
        font-size: 42px;
    }

    .articles_info_card>p {
        width: 407px;
    }

    .articles_info_card_photo img {
        width: 630px;
        height: 460px;
    }

    .card_revers {
        display: flex;
        flex-direction: row-reverse;
    }

    .travel-section-cards p {
        margin-bottom: 32px;
        font-size: 18px;
    }

    .learn-more {
        width: 180px;
        padding: 16px 24px;
        font-size: 18px;
    }
}



.explore_our_secrets {
    position: relative;
    padding-bottom: 70px;
    padding-top: 50px;
    background-image: url("./img.background/eps_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.explore_our_secrets::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 929px;
    background: rgba(2, 12, 33, 0.9);
    z-index: -1;
    pointer-events: none;
}

.photos h2 {
    margin-bottom: 23px;
}

.title_content_container {
    display: flex;
    flex-direction: column;
    gap: 728px;
}

.explore_our_secrets h2 {
    color: #010a20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    line-height: 1.15;
}

.by_the_numbers_list_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.by_the_numbers_list_item h2 {
    color: #dd2242;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.15;
}

.first_list_item {
    color: #fff;
    font-family: "DM Sans";
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.first_list_item p {
    text-align: center;
}

.first_list_item h2 {
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.15;
}

.by_the_numbers_list_item p {
    color: #e0e0e0;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.explore_list_picture {
    border-radius: 10px;
}

@media (min-width: 1920px) {

    .explore_our_secrets {
        background-size: cover;
    }

    .photos {
        padding-top: 127px;
    }

    .photos h2 {
        font-size: 50px;
        white-space: nowrap;
        display: flex;
        text-align: center;
    }

    .by_the_numbers {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first_list_item p {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .by_the_numbers_list_item {
        padding: 45px;
    }

    .by_the_numbers_list_item h2 {
        font-size: 42px;
    }

    .by_the_numbers_list_item p {
        font-size: 18px;
        width: 340.611px;
        height: 70.229px;
    }

    .first_list_item h2 {
        white-space: nowrap;
        font-size: 60px;
    }

    .explore_our_secrets>.bg_by_the_nums {
        position: relative;
    }

    .bg_by_the_nums {
        padding-bottom: 230px;
    }

    .bg_by_the_nums_bg {
        opacity: 0.9;
        background: #020C21;
    }

}

.swiper-slide:nth-child(1) {
    display: none;
}

.swiper-slide:nth-child(2) {
    display: none;
}

.explore_our_secrets .swiper {
    padding: 20px;
    overflow: hidden;
}

.swiper-wrapper {
    position: relative;
    overflow: visible;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.swiper>.swiper-button-next::after,
.swiper>.swiper-button-prev::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
    color: rgb(86, 91, 112);
    font-size: 25px;
    position: absolute;
    z-index: 1000;
    background-color: rgba(213, 226, 234, 0.8);
    top: 50%;
    transform: translateY(-50%);
}

.swiper>.swiper-button-prev::after {
    left: -50px;
}

.swiper>.swiper-button-next::after {
    right: -50px;
}


@media (min-width: 1920px) {
    .explore_our_secrets .swiper {
        padding: 100px;
        overflow: hidden;
    }

    .swiper-wrapper {
        position: relative;
        overflow: visible;
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    .swiper>.swiper-button-next::after,
    .swiper>.swiper-button-prev::after {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 257px;
        color: rgb(86, 91, 112);
        font-size: 75px;
        position: absolute;
        z-index: 1000;
        background-color: rgba(213, 226, 234, 0.8);
        top: 50%;
        transform: translateY(-50%);
    }

    .swiper>.swiper-button-prev::after {
        left: -50px;
    }

    .swiper>.swiper-button-next::after {
        right: -50px;
    }

    .explore_our_secrets {
        padding-bottom: 225px;
        padding-top: 130px;
    }

    .explore_our_secrets::before {
        height: 794px;
    }

    .swiper-slide:nth-child(1) {
        display: block;
    }

    .swiper-slide:nth-child(2) {
        display: block;
    }

    .title_content_container {
        width: 1280px;
        gap: 933px;
    }

    .explore_our_secrets h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.5;
    }

    .by_the_numbers {
        display: flex;
        gap: 100px;
    }

    .first_list_item p {
        color: #e0e0e0;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        width: 484px;
    }

    .first_list_item h2 {
        font-size: 42.137px;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 0.386px;
    }

    .by_the_numbers_list_item p {
        color: #e0e0e0;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.5px;
    }

    .first_list_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




.map {
    background: #ffffff;
    position: relative;
    background-image: url(./img.background/map_bg_up.svg),
        url(./img.background/map_bg_down.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.map>.container {
    margin: 0 auto 30px auto;
    padding: 171px 0 116px 0;
}

.container_map_title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.15;
}

.container_map_text {
    margin-top: 20px;
    color: #6F7787;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.learn-more_btn {
    margin-top: 63px;
    display: flex;
    width: 314px;
    height: 73px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 122px;
    border: none;
    background: #DD2242;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

@media (min-width: 1920px) {

    .map {
        background-image: url(./img.background/map_up.svg),
            url(./img.background/map_down.svg);
    }

    .map_main_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .map>.container {
        width: 614px;
    }

    .container_map_title {
        font-size: 42px;
        line-height: 1.2;
    }

    .container_map_text {
        font-size: 18px;
        line-height: 1.15;
    }

    .learn-more_btn {
        display: block;
        width: 210px;
        height: 64px;
    }

}



.Vid5 {
    padding: 83px 0;
    background-image: url(./img.background/hugo-matilla-EFuCATqfblI-unsplash\ 1\ \(1\).png);
    background-color: #010A20;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.video_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.video5-title h2 {
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.15;
}

.cotainer_video5 h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
}

.video_list_item p {
    text-align: center;
    color: #ffff;
    opacity: 0.7;
}

.Vid5>.coteiner {
    margin: 31px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.video5_photo_main {
    border-radius: 10px;
}

.video_list_item {
    border-radius: 10px;
}

.cotainer_video5_photo {
    border-radius: 5px;
}


@media (min-width: 1920px) {
    .Vid5 {
        padding: 145px 0 225px 0;
    }

    .Vid5>.container {
        width: 1200px;
    }

    .video5_photo_main {
        width: 1056px;
        height: 594px;
    }

    .video_list {
        display: flex;
        flex-direction: row;
        gap: 75px;
        margin-top: 125px;
    }

    .video_list_item {
        display: flex;
        align-items: center;
        gap: 42px;
    }

    .cotainer_video5_photo {
        max-width: 233px;
        height: 151px;
    }

    .video5-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video5-title h2 {
        width: 1000px;
        margin-bottom: 90px;
        font-size: 42px;
        line-height: 1.19;
    }

    .cotainer_video5 h3 {
        margin: 0 0 15px;
        text-align: left;
        font-size: 18px;
    }

    .video_list_item p {
        font-size: 18px;
        text-align: left;
        color: #ffff;
        opacity: 0.7;
    }
}




.photo_section {
    background: #ffffff;
}

.photo_section>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_gallery_main_title {
    padding: 32px 31px 10px;
    display: flex;
    flex-direction: column;
    color: #010A20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    line-height: 1.5;
}

.photo_gallery_title_info {
    padding: 10px 0 35px;
    color: #6F7787;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.container_photos img {
    display: block;
    padding-top: 12px;
}

.container_photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 13px 0 40px;
}

.div1 {
    grid-area: 1 / 1 / 4 / 2;
}

.div2 {
    grid-area: 4 / 1 / 5 / 2;
}

.div3 {
    grid-area: 5 / 1 / 7 / 2;
}

.div4 {
    grid-area: 1 / 2 / 2 / 3;
}

.div5 {
    grid-area: 2 / 2 / 5 / 3;
}

.div6 {
    grid-area: 5 / 2 / 7 / 3;
}


@media (min-width: 1920px) {
    .photo_gallery_main_title {
        font-size: 60px;
        white-space: nowrap;
    }

    .photo_gallery_title_info {
        white-space: nowrap;
        font-family: "DM Sans";
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.18px;
    }

    .photo_gallery_title {
        flex-direction: column;
    }

    .container_photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: none;
        gap: 30px;
    }

    /* 
    .photo_gallery_ppl {
        grid-area: 1 / 1 / 5 / 3;
    }

    .photo_gallery_ocean {
        grid-area: 5 / 1 / 7 / 3;
    }

    .photo_gallery_man {
        grid-area: 1 / 3 / 3 / 5;
    }

    .photo_gallery_volcano {
        grid-area: 3 / 3 / 7 / 5;
    }

    .photo_gallery_mount {
        grid-area: 1 / 5 / 4 / 7;
    }

    .photo_gallery_sky {
        grid-area: 4 / 5 / 7 / 7;
    } */

    .container_photos>.photos_wrapper {
        width: 100%;
        display: grid;
        grid-template-areas:
            "a c e"
            "a c e"
            "a d e"
            "a d f"
            "b d f"
            "b d f";
        grid-template-columns: 370px 370px 370px;
    }
}




.getting_there {
    padding: 29px 0 73px 0;
    background: #dce8f2;
}

.first h2 {
    margin-top: 50px;
    color: #010a20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.15;
}

.main_title_get_here {
    margin-bottom: 45px;
    color: #010a20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.15;
}

.get_here_numbers {
    color: #010a20;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
}

.small-text {
    padding-top: 13px;
    color: rgba(21, 20, 57, 0.4);
    font-size: 16px;
}

.show_more_btn {
    color: #dd2242;
    font-family: "DM Sans";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.title_get_here {
    padding-top: 18px;
    color: #010a20;
    text-align: center;
    font-family: "DM Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}

.get_here_numbers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.get_here_numbers-item:last-child {
    margin: 0;
}

.getting_there-button {
    display: none;
}

.getting_there-full-text {
    display: none;
}

.getting_there-extra-title {
    display: none;
}

@media (min-width: 1920px) {
    .getting_there {
        padding: 119px 0 117px 0;
    }

    .getting_there>.container {
        width: 1170px;
    }

    .main_title_get_here {
        text-align: start;
        font-size: 60px;
    }

    .get_here_numbers-item {
        position: relative;
        align-items: start;
        margin-left: 100px;
        margin-bottom: 95px;
    }

    .get_here_numbers-item:last-child {
        margin-left: 100px;
    }

    .get_here_numbers-item>picture {
        position: absolute;
        left: -100px;
    }

    .get_here_numbers-item_hidden-text {
        width: 446px;
    }

    .get_here_numbers-item:nth-child(3) {
        flex-direction: row;
        column-gap: 45px;
    }

    .get_here_numbers-item:nth-child(3)>a {
        display: block;
    }

    .getting_there-button {
        display: block;
        width: 210px;
        height: 64px;
        margin-left: 102px;
        margin-top: 16px;
        padding: 16px 24px;
        color: #fff;
        font-family: "DM Sans";
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        border: none;
        border-radius: 122px;
        background: #dd2242;
    }

    .small-text {
        display: none;
    }

    .show_more_btn {
        display: none;
    }

    .getting_there-full-text {
        display: block;
        text-align: start;
        color: rgba(21, 20, 57, 0.4);
        font-family: "DM Sans";
        font-weight: 400;
        font-size: 23.475px;
        line-height: 1.6;
    }

    .getting_there-extra-title {
        display: block;
        text-align: start;
        margin-bottom: 12px;
        color: #010a20;
        font-family: "DM Sans";
        font-size: 26.409px;
        font-weight: 700;
        line-height: 1.5;
    }
}



.footer {
    position: relative;
    padding: 155px 0 85px 0;
    background: #010a20;
}

.footer a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.footer>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_footer {
    margin-bottom: 36px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer_about_item_icons {
    margin: 36px 0;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.footer_img {
    display: block;
}

.footer_about {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36px;
    font-family: "DM Sans";
    font-size: 22.943px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.637px;
}

.copyright {
    color: #fff;
    font-family: "DM Sans";
    font-size: 23.241px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.6px;
}

.footer_arrow {
    position: absolute;
    top: -41px;
}

@media (min-width: 1920px) {
    .footer {
        padding: 48px 83px 31px 0;
    }

    .footer>.container {
        width: 1760px;
        flex-direction: row;
        justify-content: space-between;
    }

    .tooter_info {
        display: flex;
        justify-content: center;
        column-gap: 124px;
    }

    .footer_about {
        display: flex;
        flex-direction: row;
        column-gap: 36px;
        font-size: 18px;
    }

    .logo_footer {
        margin: 0;
    }

    .logo_footer img {
        display: block;
    }

    .footer_about_item_icons {
        margin: 0;
    }

    .footer_links {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
    }

    .footer_links>li {
        width: 24px;
        height: 24px;
    }

    .copyright {
        white-space: nowrap;
        font-size: 18px;
    }

    .footer_arrow {
        top: -52px;
        right: 100px;
    }
}





@media (min-width: 1920px) {
    .container {
        width: 1278px;
    }
}